.display-flex {
  display: flex;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.btn-red {
  background-color: #ff0000;
  /* padding: 10px; */
  color: #ffffff !important;
  float: right;
  cursor: pointer;
}

.btn-green {
  background-color: green;
  /* padding: 10px; */
  color: #ffffff !important;
  float: right;
  cursor: pointer;
}

.remove-good {
  color: #ff0000 !important;
  cursor: pointer;
  text-decoration: underline !important;
}

.main-wrapper {
  margin: 0 auto;
}

.form-array {
  margin-top: 50px;
}

.submit-wrapper {
  width: 100%;
  text-align: center;
}

.submit {
  float: left;
}

.display-table{
  width: 49%;
  height:40px;
  display:inline-table;
}