<a routerLink="/party">Add New Party</a>
<div class="form-group col-sm-4">
  <p>Search Invoice</p>
  <input type="text" [(ngModel)]="invoiceNoSearch" />
</div>
<button (click)="searchInvoice()">Search</button>
<form class="pure-form"
  [formGroup]="invoiceForm"
  novalidate
  (ngSubmit)="submit(invoiceForm.value)"
  class="col-sm-10 main-wrapper"
>
  <div class="display-flex">
    <div class="form-group col-sm-1">
      <p>Cgst %</p>
      <input type="text" formControlName="cgstPercentage" (change)="refreshData()"/>
    </div>
    <div class="form-group col-sm-1">
      <p>Sgst %</p>
      <input type="text" formControlName="sgstPercentage" (change)="refreshData()"/>
    </div>
  </div>
  <div>
  <table class="pure-table display-table">
    <tbody>
      <tr>
        <th>Bill To</th>
        <td><select formControlName="partyId" (change)="getPartyDetail()">
            <option value="">Select</option>
            <option *ngFor="let p of party" [value]="p.partyId">{{
              p.partyName
            }}</option>
          </select></td>
      </tr>
      <tr>
          <th>Invoice No.</th>
          <td><input type="text" formControlName="invoiceNo" /></td>
        </tr>
        <tr>
            <th>Invoice Date</th>
            <td><input
              type="text"
              formControlName="invoiceDate"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
            /></td>
          </tr>
          <tr>
              <th>Transport</th>
              <td><input type="text" formControlName="transport" /></td>
            </tr>
    </tbody>
  </table>
  <table  class="pure-table display-table">
      <tbody>
        <tr>
          <th>Total Amount</th>
          <td>{{ invoiceForm.value.totalAmount }}</td>
        </tr>
        <tr>
            <th>ROff Amount</th>
            <td>{{ invoiceForm.value.roundedOffAmount }}</td>
          </tr>
          <tr>
              <th>Amount In Words</th>
              <td>{{ invoiceForm.value.amountInWords }}</td>
            </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
      <table class="pure-table" formArrayName="items">
        <thead>
          <th>Item
            <span>  <a class="btn btn-green" (click)="addType()">Add Item</a></span>
          </th>
          <th>Qty</th>
          <th>Unit Price</th>
          <th>Before</th>
          <th>CGST</th>
          <th>SGST</th>
          <th>Amount</th>
          <th>Action</th>
        </thead>
        <tbody *ngFor="let address of getControls(); let i = index">
          <tr [formGroupName]="i">
            <td>
              <select formControlName="itemId">
                <option value="">Select</option>
                <option *ngFor="let i of item" [value]="i.itemId">{{
                  i.itemDescription
                }}</option>
              </select>
            </td>
            <td>
              <input
                type="text"
                formControlName="qty"
                (keyup)="calculateAmount(i)"
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="unitPrice"
                (keyup)="calculateAmount(i)"
              />
            </td>
            <td>{{ invoiceForm.value.items[i].amount }}</td>
            <td>{{ invoiceForm.value.items[i].cgstAmount }}</td>
            <td>{{ invoiceForm.value.items[i].sgstAmount }}</td>
            <td>{{ invoiceForm.value.items[i].totalCalculatedAmount }}</td>
            <td>
              <button pButton type="button" icon="pi pi-times"  iconPos="left" (click)="removeGood(i)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      
    </div>
  <div *ngIf="submitBtn" class="submit-wrapper">
    <button type="submit" class="btn btn-green submit">Submit</button>
  </div>
</form>
