 .btn-green {
    background-color: green;
    padding: 10px;
    color: #ffffff !important;
    float: right;
    cursor: pointer;
  }
 .submit-wrapper {
    width: 100%;
    text-align: center;
  }
  
  .submit {
    float: none;
  }
  