<form [formGroup]="partyForm" novalidate (ngSubmit)="submit(partyForm.value)" class="col-sm-10 main-wrapper">
        <div class="display-flex">
          <div class="form-group col-sm-4">
            <p>Party Name</p>
            <input type="text" formControlName="partyName"/>
          </div>
          <div class="form-group col-sm-4">
            <p>Email</p>
            <input type="text" formControlName="email"/>
          </div>
          <div class="form-group col-sm-4">
            <p>Mobile</p>
            <input type="text" formControlName="mobile"/>
          </div>
          <div class="form-group col-sm-4">
            <p>Phone</p>
            <input type="text" formControlName="phone"/>
          </div>
          <div class="form-group col-sm-4">
            <p>Address</p>
            <input type="text" formControlName="address" />
          </div>
          <div class="form-group col-sm-4">
            <p>City</p>
            <input type="text" formControlName="city"/>
              </div>
              <div class="form-group col-sm-4">
                <p>State</p>
                <input type="text" formControlName="state"/>
              </div>
              <div class="form-group col-sm-4">
                <p>State Code</p>
                <input type="text" formControlName="stateCode"/>
              </div>
              <div class="form-group col-sm-4">
                <p>Zipcode</p>
                <input type="text" formControlName="zipcode"/>
              </div>
              <div class="form-group col-sm-4">
                <p>GSTIN</p>
                <input type="text" formControlName="GSTIN" />
              </div>
              <div class="form-group col-sm-4">
                <p>PAN</p>
                <input type="text" formControlName="PAN" />
            </div>
        </div>
        <div *ngIf="submitBtn" class="submit-wrapper">
          <button type="submit" class="btn btn-green submit">Submit</button>
        </div>
      </form>
      