<div class="main-wrapper">
  <div class="top-wrapper" id="print">
    <div class="heading-wrapper">
      <h4>|| श्री गणेशाय नमः ||</h4>
      <p id="tax-invoice">TAX INVOICE</p>
      <h1>{{ sellingParty?.partyName }}</h1>
      <p>{{ sellingParty?.address }} {{ sellingParty?.city }}, {{ sellingParty?.state }} – {{ sellingParty?.zipcode }}</p>
      <p>GSTIN/UIN: {{ sellingParty?.GSTIN }}</p>
      <p>MOB NO: {{ sellingParty?.mobile }}, {{ sellingParty?.phone }}</p>
      <p>
        E-Mail: <span id="email">{{ sellingParty?.email }}</span>
      </p>
    </div>
    <div class="address-wrapper">
      <div class="width-half border-right">
        <h5 id="font-italic">
          Billed to:
        </h5>
        {{ invoiceData?.partyName }}
        <div>
          <p>{{ invoiceData?.address }} {{ invoiceData?.city }}</p>
          <p>Buyer’s Mob No: {{ invoiceData?.mobile }}</p>
          <p>State: {{ invoiceData?.state }},{{ invoiceData?.stateCode }}</p>
          <p>GSTIN/UIN: {{ invoiceData?.GSTIN }}</p>
        </div>
      </div>
      <div class="width-half border-left">
        <p>
          Invoice No: <span> {{ invoiceData?.invoiceNo }}</span>
        </p>
        <p>
          Date of Invoice:<span> {{ invoiceData?.invoiceDate | date:'dd/MM/yyyy' }}</span>
        </p>
        <p>P.O. No:</p>
        <p>
          Transport: <span> {{ invoiceData?.transport }}</span>
        </p>
        <p>E-way Bill No:</p>
        <p>Vehicle No:</p>
      </div>
    </div>
    <div class="table-wrapper">
      <table style="width:100%">
        <tr>
          <th>S No.</th>
          <th>Description of goods</th>
          <th>HSN Code</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Amt Before tax</th>
          <th>CGST @{{ invoiceData?.cgstPercentage }}%</th>
          <th>SGST @{{ invoiceData?.sgstPercentage }}%</th>
          <th>Amount</th>
        </tr>
        <tr *ngFor="let data of invoiceData['items']; let index = index">
          <td>
            <p *ngIf="data.unitPrice != ''">{{ index + 1 }}</p>
            <p *ngIf="data.unitPrice == ''">&nbsp;</p>
          </td>
          <td>
            {{ data?.itemDescription }}
          </td>
          <td>{{ data?.hsn }}</td>
          <td>{{ data?.qty }}</td>
          <td>{{ data?.unitPrice }}</td>
          <td>{{ data?.amount }}</td>
          <td>{{ data?.cgstAmount }}</td>
          <td>{{ data?.sgstAmount }}</td>
          <td>{{ data?.totalCalculatedAmount }}</td>
        </tr>
        <tr>
            <td class="top-border"></td>
              <td class="top-border"></td>
              <td class="top-border"></td>
              <td class="top-border"></td>
              <td class="top-border"></td>
              <td class="top-border">{{taxTotal}}</td>
              <td class="top-border">{{taxCgst}}</td>
              <td class="top-border">{{taxSgst}}</td>
              <td class="top-border">{{total}}</td>
          </tr>
        <tr>
          <td colspan="8" class="align-right">Rounded off</td>
          <td class="top-border">
            <!-- <p>{{total}}</p> -->
            <p>{{ invoiceData?.roundedOffAmount }}</p>
          </td>
        </tr>
        <tr>
          <td colspan="8" class="align-right" id="total-amount">TOTAL AMOUNT</td>
          <td class="top-border">
            {{ invoiceData?.totalAmount }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="align-center">
    <p>
      Amount Chargeable (in words) - <span class="text-bold">Indian Rupees {{ invoiceData?.amountInWords | titlecase }}</span>
    </p>
  </div>
  <div class="bank-details-wrapper">
    <div class="border-right width-half img-wrapper">
      <img src="assets/richman-logo.jpg" />
      <h4>RICH MAN COMFORT</h4>
    </div>
    <div class="border-left width-half">
      <h4>BANK DETAILS</h4>
      <p>Bank Name – ICICI BANK</p>
      <p>Account No. -102505502080</p>
      <p>Branch – N.I.T. 1 FARIDABAD</p>
      <p>IFSC Code – ICIC0001025</p>
    </div>
  </div>
  <div class="last-wrapper">
    <div>
      <h4 id="terms">TERMS & CONDITIONS</h4>
      <p>1. Goods once sold will not be taken back</p>
      <p>2. Our responsibility cases on delivery of goods</p>
      <p>3. All the disputes are subjected to Faridabad Jurisdiction only</p>
      <p>4. Cheque bouncing charges₹250/-</p>
    </div>
    <div>
      <h4 class="signatory">Receiver’s Signature</h4>
    </div>
    <div>
      <h4>FOR {{ sellingParty.partyName }}</h4>
      <h4 class="signatory">Authorised Signatory</h4>
    </div>
  </div>
</div>
<p class="align-center">This is a Computer Generated Invoice</p>
