.top-wrapper {
  padding-top: 20px;
}
.heading-wrapper {
  text-align: center;
  border-bottom: 2px solid #000;
  padding-bottom: 14px;
}
.heading-wrapper h4 {
  margin-bottom: 0px;
}
.heading-wrapper p {
  margin: 2px;
}
.heading-wrapper h1 {
  margin: 0px;
}
#tax-invoice {
  padding: 2px;
  text-decoration: underline;
}
#email {
  color: blue;
  text-decoration: underline;
}
.address-wrapper {
  display: flex;
}
.width-half {
  width: 50%;
  border-bottom: 2px solid #000000;
  padding: 20px;
}
.width-half h6 {
  margin: 0;
}
.width-half h5 {
  margin: 4px 0px;
}
.width-half p {
  margin: 2px 0px;
}
.border-right {
  border-right: 1px solid #000000;
}
.border-left {
  border-left: 1px solid #000000;
}
th,
td {
  border-right: 1px solid black;
  border-collapse: collapse;
}
th:nth-last-child(1),
td:nth-last-child(1) {
  border-right: none;
  border-collapse: unset;
}
th {
  border-bottom: 1px solid black;
  max-width: 70px;
  font-size: 20px;
  padding-left: 4px;
  text-align: center;
  line-height: 24px;
}
table {
  border-bottom: 1px solid black;
}
td {
  text-align: center;
  max-width: 70px;
  font-size: 20px;
  padding-left: 4px;
}
table p {
  margin: 0;
}
.align-right {
  text-align: end;
  padding-right: 10px;
  border-top: 1px solid black;
}
#total-amount {
  font-weight: 600;
  padding: 4px;
}
.top-border {
  border-top: 1px solid black;
}
.text-bold {
  font-weight: 600;
}
.align-center {
  text-align: center;
}
.bank-details-wrapper {
  border: 1px solid black;
  display: flex;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.bank-details-wrapper h4 {
  text-decoration: underline;
  margin: 0;
}
.bank-details-wrapper img {
  width: 180px;
}
.last-wrapper {
  display: flex;
}
.last-wrapper div {
  border: 1px solid black;
  padding: 10px;
  width: 33%;
  position: relative;
  border-top: none;
  border-bottom: none
}

.last-wrapper div:nth-last-child(1) {
  border-right: none
}

.last-wrapper div:nth-child(1) {
  border-left: none;
}

.last-wrapper div:nth-last-child(1) {
  text-align: right;
  width: 34%;
}

.last-wrapper p {
  margin: 4px;
  font-weight: 600;
}
.last-wrapper h4 {
  margin: 0;
  margin-bottom: 10px;
}
#terms {
  text-decoration: underline;
}
.signatory {
  position: absolute;
  bottom: 0;
  right: 10px;
}
#font-italic {
  font-style: italic;
}
.main-wrapper {
  max-width: 90%;
  margin: 0 auto;
  border: 2px solid #000000;
  margin-top: 80px;
}

p {
  font-size: 20px;
}

.last-wrapper p,
.last-wrapper h4 {
  font-size: 18px;
}

.img-wrapper {
  position: relative;
  display: flex;
}

.img-wrapper h4 {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  padding-left: 240px;
  width: 100%;
}
